/* first body paint styles */
nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem 0 2rem;
  z-index: var(--nav-z-index);
}

.circular-menu {
  position: relative;
  will-change: contents;
}

.hamburger {
  width: 1.75rem;
  height: 1.5rem;
  margin: 0 auto;
  position: relative;
  z-index: 9;
}

.hamburger-init {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  outline: none;
  z-index: 10;
}

.menu {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.bar1,.bar2,.bar3 {
  width: 100%;
  height: 0.2rem;
  background-color: hsl(var(--text-color));
  transition: all 0.3s ease;
  border-radius: 1rem;
}

.items-wrapper {
  padding: 0;
  margin: 0;
}

.circular-menu::after {
  --circular-menu-bg-color: ;
  opacity: 0;
  display: block;
  content: " ";
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  position: absolute;
  left: -2.75rem;
  top: -1.675rem;
  z-index: 4;
  background-color: hsl(24, 80%, 2%);
  transition: all 0.3s ease-out;
}

/* paint on functional property  */

/* first impression change */
.hamburger-init:checked+.menu .bar1 {
  transform: translateY(0.5rem) rotate(45deg);
}
.hamburger-init:checked+.menu .bar2 {
  opacity: 0;
}
.hamburger-init:checked+.menu .bar3 {
  transform: translateY(-0.5rem) rotate(-45deg);
}

.circular-menu.active::before {
  content: "";
  background-color:hsla(0, 0%, 14%, 0.75);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.circular-menu.active::after {
  content: "";
  transform: scale3d(14, 14, 1);
  opacity: 1;
}

.circular-menu.active .menu-item:nth-child(1) {
  transform: translate3d(0, 12.5rem, 0);
}

.circular-menu.active .menu-item:nth-child(2) {
  transform: translate3d(6.25rem, 9.25rem, 0);
}

.circular-menu.active .menu-item:nth-child(3) {
  transform: translate3d(10.5rem, 4.25rem, 0);
}

.circular-menu.active .menu-item:nth-child(4) {
  transform: translate3d(12.75rem, -1.5rem, 0);
}

.menu-value {
  font-family: "Oswald", "Times New Roman", Times, serif;
  font-size: var(--medium-font);
  position: relative;
  visibility: hidden;
  transition: all;
  transition-delay: .1s;
}

.menu-item {
  position: absolute;
  z-index: 10;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.2s ease;
  cursor: default;
}

.circular-menu.active .menu-item {
  opacity: 1;
  display: inline-flex;
  align-items: center;
  gap: 1.4rem;
}

.menu-item:hover .menu-value {
  visibility: visible;
}

.circular-menu.active .menu-item::after {
  content: "";
  position: absolute;
  width: 0rem;
  height: 2.5rem;
  background-color: hsl(24, 80%, 98%);
  z-index: -1;
  border-bottom-right-radius: 1.2rem;
  transition: width 0.3s ease-out;
}

.circular-menu.active .menu-item:hover::after {
  width: 9rem;
}