:root {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;
  font-weight: 400;
  list-style: none;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --lower-gap: 1;
  --normal-gap: 2;
  --high-gap: 3;

  --gray-code-color: 60, 4%;

  --base-text-size: 1.15rem;
  --medium-font: 1.5rem;

  --showcase-right-margin: 11rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 20rem;
  min-height: 100vh;
}

h1 {
  font-family: "Oswald", "Times New Roman", Times, serif;
  font-size: 3.2rem;
  line-height: 1.1;
}

p {
  font-size: var(--base-text-size);
  margin-block: 0.5rem;
}

a {
  position: relative;
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}

ul {
  list-style: none;
  padding: 0;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem 0 2rem;
  background-color: white;

  z-index: 5;
}

section {
height: 100%;
  width: 100%;
}

img {
  object-position: center;
  object-fit: cover;
}

button {
  border-width: 0;
  cursor: pointer;
}

.circular-menu {
  position: relative;
}

.circular-menu > * {
  z-index: 100;
}

.circular-menu::after {
  opacity: 0;
  display: block;
  content: " ";
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  position: absolute;
  left: -2.75rem;
  top: -1.675rem;
  z-index: -2;
  background-color: hsl(24, 80%, 98%);
  transition: all 0.3s ease-out;
}

.circular-menu .items-wrapper {
  padding: 0;
  margin: 0;
}

.circular-menu .menu-item {
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.2s ease;
  cursor: default;
}

.hamburger {
  width: 1.75rem;
  height: 1.5rem;
  margin: 0 auto;
  position: relative;
}

.hamburger-init {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  outline: none;
  z-index: 2;
}

.menu {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.menu .bar1,
.menu .bar2,
.menu .bar3 {
  width: 100%;
  height: 0.2rem;
  background-color: hsl(var(--gray-code-color), 0%);
  transition: all 0.3s ease;
  border-radius: 1rem;
}

#description {
  height: 100vh;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#description > * {
  max-width: 768px;
  width: 38%;
}


#description p > span > a{
  border-bottom: 0.063rem solid hsl(var(--gray-code-color), 69%);
}

#description p span {
  display: inline-flex;
  align-items: baseline;
  padding-left: 0.25rem;
  gap: 0.25rem;
}

#to-projects {
  width: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  transition: padding 0.3s ease;
}

/* cues */
.left-cue img,
.right-cue img {
  width: 14vw;
  height: 10vw;
  max-width: 18rem;
  max-height: 14rem;
  padding: 0.5rem;
  cursor: pointer;

  box-shadow: inset 0px 10px 0.5em hsl(var(--gray-code-color), 25%),
    inset 0.1em 0px 0.1em hsl(var(--gray-code-color), 10%),
    inset -0.1em 0px 0.1em hsl(var(--gray-code-color), 5%), 0 0.3em 0.2em #fff;
  box-shadow: 0px 1em 2em -1em hsl(var(--gray-code-color), 70%),
    0px 2em 2em -1em hsl(var(--gray-code-color), 80%), inset 0 0.2em 0.1em #fff;
}

.left-cue,
.right-cue {
  width: fit-content !important;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.left-cue {
  bottom: 15%;
  left: 5%;
}

.right-cue {
  top: 20%;
  right: 6%;
}

.left-cue img:first-child,
.right-cue img:first-child {
  rotate: 9deg;
  transition: all 0.7s ease;
}

.left-cue img:last-child,
.right-cue img:last-child {
  margin-left: 4rem;
  rotate: -9deg;
  transition: all 0.7s ease;
}

/* reusage potential
1. flex 
2. anchor tag baseline */

.anchor-underline{
  border-bottom: 0.063rem solid hsl(var(--gray-code-color), 69%);
  padding-bottom: 0.25rem;
}



/* .circular-menu.active::before{
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.87);
} */


/* first View Page interaction */
/* hamburger rotation effect */
.hamburger-init:checked + .menu .bar1 {
  transform: translateY(0.5rem) rotate(45deg);
}

.hamburger-init:checked + .menu .bar2 {
  opacity: 0;
}

.hamburger-init:checked + .menu .bar3 {
  transform: translateY(-0.5rem) rotate(-45deg);
}


/* navigate to proj button hover effect */
#to-projects:hover {
  padding-top: 0.8rem;
}

/* image hover rotate effect */
.left-cue img:first-child:hover,
.right-cue img:first-child:hover {
  transform: rotate(-9deg);
  box-shadow: 0px 1em 2em -1em hsl(var(--gray-code-color), 70%);
}
.left-cue img:last-child:hover,
.right-cue img:last-child:hover {
  transform: rotate(9deg);
  box-shadow: 0px 1em 2em -1em hsl(var(--gray-code-color), 70%);
}

code {
  background-color: hsl(var(--gray-code-color), 95%);
  padding: 0.125rem 0.5rem;
  width: fit-content;
  margin-right: 1.5rem;
  border-radius: .25rem;
}

.showcase {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.showcase-item {
  cursor: pointer;
  text-align: right;
  font-size: var(--medium-font);
}

.showcase-content{
  flex-basis: 40vw;
  position: relative;
}

.showcase-content article {
  position: relative;
  /* height: fit-content; */
  min-height: 100vh;
  align-self: center;

  margin: 1rem var(--showcase-right-margin) 2rem 2rem;
}

.showcase-content article .proj-hint {
  position: sticky;
  top: 3.45rem;

  width: 40vw;
  max-width: 40rem;
  height: 40vh;
  max-height: 25rem;
  margin-bottom: .5rem;
  
  border-radius: 2rem;
  filter: drop-shadow(0px 20px 25px rgba(0, 0, 0, 0.25));
  z-index: 10;
}

.showcase-content article .proj-description{
  display: inline-block;
  position: sticky;
  top: 46vh;
  
  margin-top: 1rem;
  margin-left: 2rem;
}

.proj-description p{
  margin: 2rem 0;
  max-width: 80%;
}

.proj-description p a{
  margin-right: 1.5rem;
  margin-left: .25rem;
  align-items: baseline;
}

.proj-description p a::after{
  content: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.67095 0.807364C6.64706 0.532256 6.40468 0.328602 6.12957 0.352488L1.64644 0.74174C1.37133 0.765626 1.16767 1.00801 1.19156 1.28312C1.21545 1.55822 1.45783 1.76188 1.73294 1.73799L5.71794 1.39199L6.06395 5.377C6.08783 5.6521 6.33022 5.85576 6.60532 5.83187C6.88043 5.80799 7.08408 5.5656 7.0602 5.2905L6.67095 0.807364ZM1.4093 7.29723L6.55563 1.17226L5.79001 0.528968L0.643679 6.65394L1.4093 7.29723Z' fill='black'/%3E%3C/svg%3E%0A");
  margin-left: .25rem;
  position: absolute;
}


/* second view interaction style */
#showcase-menu{
  font-family: "Oswald", "Times New Roman", Times, serif;
  position: sticky;
  top: 8vh;
  opacity: 0;
  z-index: -1;
}

#showcase-menu::before, #showcase-menu::after{
  content: "";
  position: absolute;
  right: 0;
  height: 10rem;
  width: 12rem;
  transition: all .6s ease-out;
}

#showcase-menu::before{
  top: -50%;
  background: linear-gradient(0deg, rgba(255,255,255,0.65) 0%, rgba(255,255,255,1) 20%);
}
#showcase-menu::after{
  bottom: -50%;
  background: linear-gradient(180deg, rgba(255,255,255,0.65) 0%, rgba(255,255,255,1) 20%);
}



/* 2nd level of view in first page */
/* expand menu options transition */
.circular-menu.active::after {
  content: "";
  transform: scale3d(14, 14, 1);
  opacity: 1;
}

.circular-menu.active .menu-item {
  opacity: 1;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 1.4rem;
}

.circular-menu.active .menu-item:nth-child(1) {
  transform: translate3d(0, 12.5rem, 0);
}

.circular-menu.active .menu-item:nth-child(2) {
  transform: translate3d(6.25rem, 9.25rem, 0);
}

.circular-menu.active .menu-item:nth-child(3) {
  transform: translate3d(10.5rem, 4.25rem, 0);
}

.circular-menu.active .menu-item:nth-child(4) {
  transform: translate3d(12.75rem, -1.5rem, 0);
}
.menu-value {
  font-family: "Oswald", "Times New Roman", Times, serif;
  font-size: var(--medium-font);
  position: relative;
  visibility: hidden;
}

.menu-item:hover .menu-value {
  visibility: visible;
}

.circular-menu.active .menu-item::after {
  content: "";
  position: absolute;
  width: 0rem;
  height: 2.5rem;
  background-color: hsl(24, 80%, 98%);
  z-index: -2;
  border-bottom-right-radius: 1.2rem;
  transition: width 0.2s ease-out;
}

#showcase-menu:hover::before, #showcase-menu:hover:after{
  height: 0;
  transition-duration: 1.2s;
}

/* secondary view level transition  */
.circular-menu.active .menu-item:hover::after {
  width: 9rem;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: transparent;
    cursor: pointer;
  }
}
