
:root{
  --navbar-top-margin: 2.6svh;
  --navbar-x-margin: 1.6svw;
}


*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}



nav{
  display: flex;
  justify-content: space-between;
  margin-top: var(--navbar-top-margin);
  margin-left: var(--navbar-x-margin);
  margin-right: var(--navbar-x-margin);
}


.hamburger {
  width: 2rem;
  height: 1.75rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hamburger-init {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
  outline: none;
}

.menu {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.menu .bar1,
.menu .bar2,
.menu .bar3 {
  width: 100%;
  height: .25rem;
  background: #000;
  transition: all .3s;
}

.hamburger-init:checked + .menu .bar1 {
  transform: translateY(.575rem) rotate(45deg);
}

.hamburger-init:checked + .menu .bar2 {
  opacity: 0;
}

.hamburger-init:checked + .menu .bar3 {
  transform: translateY(-.575rem) rotate(-45deg);
}

.circular-menu {
  position: relative;
}

.circular-menu .floating-btn {
  display: block;
  width: 3.5em;
  height: 3.5em;
  outline: 0;
}

.circular-menu::after {
  opacity:0;
  display: block;
  content: ' ';
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: absolute;
  left: -2.75rem;
  top: -1.675rem;
  z-index: -2;
  background-color: hsl(42, 11%, 83%);
  transition: all .3s ease;
  transition-timing-function: ease;
}

.circular-menu.active::after {
  content: "";
  transform: scale3d(6.8, 6.8, 1);
  transition-timing-function: ease-out;
  opacity:1;
}

.circular-menu .items-wrapper {
  padding: 0;
  margin: 0;
}

.circular-menu .menu-item {
  position: absolute;
  top: .2em;
  right: .2em;
  z-index: -1;
  display: block;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  width: auto;
  height: auto;
  text-align: center;
  line-height: 3;
  opacity: 0;
  transition: transform .3s ease, opacity .2s ease;
  display: flex;
}

.circular-menu.active .menu-item {
  transition-timing-function: ease;
  opacity: 1;
}

.circular-menu.active .menu-item:nth-child(1) {
  transform: translate3d(0, 12rem,0);
}

.circular-menu.active .menu-item:nth-child(2) {
  transform: translate3d(5em, 8.8em,0);
}

.circular-menu.active .menu-item:nth-child(3) {
  transform: translate3d(8.2rem,4.8em,0);
}

.circular-menu.active .menu-item:nth-child(4) {
  transform: translate3d(10em,0em,0);
}

.menu-value{
  height: fit-content;
  position: absolute;
  color: #000;
  margin-left: 3rem;
  font-size: 1.5rem;
  line-height: normal;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
